<div class="format">
  <div>
    <input type="text" placeholder="name" [(ngModel)]="user.name" />
    <button (click)="getUsersByName()"></button>
    <br />
    <input type="text" placeholder="email" [(ngModel)]="user.email" />
    <br />
    <input type="text" placeholder="senha" [(ngModel)]="user.password" />
    <br />
  </div>
</div>
<div class="radio-style">
  <input
    type="radio"
    name="txtRadio"
    value="ADMIN,USER"
    [(ngModel)]="user.roles"
  />
  ADMIN
  <input type="radio" name="txtRadio" value="USER" [(ngModel)]="user.roles" />
  USER
</div>
<div class="button-style">
  <button (click)="insertUser()">Salvar</button>
</div>
